<li>
	{{name}}

	{{!-- <button class="change-descrip" data-id="{{id}}" data-newdescrip="{{descrip}}">
		{{#if descrip}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button> --}}

	<button class="delete-burgers" data-id="{{this.id}}">DELETE!</button>
</li>
